.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
}
.container .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    float: right;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: relative;
    margin: 11px 30px;
}


.filters button:hover {
    opacity: 0.9;
}

.container .filters .locations,.container .filters .amenities{
    height: 100%;
    width: 25%;
    float: left;
    margin:2px 33px;
}
.filters .locations{
    border-right: 1px  #DDDDDD solid;
}
.locations h3, .amenities h3{
    font-weight: 600;
    margin-bottom: 0;
}
.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: 1.5px;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: #DDDDDD 1px solid;
    border-radius: 4px 0 0 4px;
    list-style-type: none;
    padding: 5px 0 20px 15px;
    margin-left: -33px;
    margin-top: -3px;
    
}
.amenities .popover {
    margin-left: -67px;
}

.popover h2 {
    font-size: 16px;
}

.popover li {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;
}

.filters .locations:hover .popover, .filters .amenities:hover .popover {
    display: block;
}