.places {
    margin-top: 20px;

}

.places h1 {
    font-size: 30px;
    text-align: left;
    
}

 article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
    padding:0px;
    margin: auto;

}


